spconv-cu120
imageio[ffmpeg]
easydict
rembg
numpy==1.26
onnxruntime
transformers==4.53.2
xformers==0.0.27.post2
open3d
plyfile
utils3d @ git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8
trimesh
xatlas
pyvista
pymeshfix
igraph
flask
werkzeug
psutil
flask-cors
requests
